## Importing Financial Data From the web

#### 1. Importing Libraries

In [4]:
#Importing Libraries
import pandas as pd
import numpy as np
from pandas_datareader.data import DataReader
from datetime import date
import datetime

#### 2. Generating Dates

In [5]:
start=date(2018,1,1)
end=date(2019,12,31) #today's date

#### 3.Specifying Data Sources

In [6]:
ticker='AAPL'
data_source='iex'
API_KEY='pk_de2c450b48fb4088a1ca5da5f042a84a'

#### 4.Create a data reader object

In [76]:
stock_data=DataReader(ticker,data_source,start,end,api_key=API_KEY)

In [77]:
stock_data

              open    high     low   close    volume
date
2015-08-27  112.23  113.24  110.02  112.92  84616056
2015-08-28  112.17  113.31  111.54  113.29  53164407
2015-08-31  112.03  114.53  112.00  112.76  56229271
2015-09-01  110.15  111.88  107.36  107.72  76845860
2015-09-02  110.23  112.34  109.13  112.34  61888812
...            ...     ...     ...     ...       ...
2016-12-23  115.59  116.52  115.59  116.52  14249484
2016-12-27  116.52  117.80  116.49  117.26  18296855
2016-12-28  117.52  118.02  116.20  116.76  20905892
2016-12-29  116.45  117.11  116.40  116.73  15039519
2016-12-30  116.65  117.20  115.43  115.82  30586265

[340 rows x 5 columns]

In [7]:
ticker1='NFLX'

In [9]:
stock_data1=DataReader(ticker1,data_source,start,end,api_key=API_KEY)